<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
</head>
<body>
<h1>Bienvenido, @ViewBag.User.NombreUsuario</h1>
    <p>Nombre: @ViewBag.User.Nombre</p>
    <p>Apellido: @ViewBag.User.Apellido</p>
    <p>Email: @ViewBag.User.Email</p>
    <p>Teléfono: @ViewBag.User.Telefono</p>

    

    
</body>
</html>